@{
    ViewBag.Title = "News";
}

@section PageHeader
{
	News
}

<h3>Monday, June 9th</h3>

<p>
    Today is a huge day in news because today is the day that the first article is written in the news!
    Check back weekly for updates about what's going on with the site and you, the community.
</p>