@{
    ViewBag.Title = "PrivacyPolicy";
}

@section PageHeader
{
Privacy Policy
}

<div class="container generalLayout">
    <h3>Notice of the Privacy Policies of Portfolio Unleashed</h3>

    <h4>Acquisition of Client Information</h4>
    <p>
        Portfolio Unleashed collects nonpublic personal information about our clients from the following sources:
    </p>
    <ul>
        <li>Information You Provide: Our client engagements routinely require us to obtain private information about our clients so that we can proceed with the various services we perform for our clients as part of the professional relationship.
        </li>
        <li>Sources: Depending upon the particular service a client has engaged Portfolio Unleashed to complete, we may request nonpublic information concerning the matter at hand. However, this information is never obtained without our client’s specific authorization for the type of information and the source(s) from which it may be obtained.
        </li>
    </ul>

    <h4>II. Disclosure of Nonpublic Information</h4>

    <p>
        Our policy is never to disclose nonpublic information about our clients. Nonpublic personal information is defined in the regulations as any publicly available information that we acquire by using information you have provided us in connection with any professional services we perform for you, which is not public information. An example would be a bank account number that is somehow used to acquire information regarding a court trial or other public record that would not have been found by us without using the bank account number acquired from you. In a generic sense, any information that a client provides us that involves financial product or service is likely considered nonpublic personal information and receives the same protection from disclosure as all other information about our clients. For purposes of our business relationships with our clients, all information acquired is disclosed only under the following conditions:
    </p>
    <ul>
        <li>Employees of Portfolio Unleashed: Employees who need such information to conclude a transaction for which the client has engaged Portfolio Unleashed.
        </li>
        <li>Others: Other than as state above, we do not disclose nonpublic personal information, or any other information, to any outside party without specific client authorization. An example would be other professionals who are assisting Portfolio Unleashed in carrying our a client engagement. In such a case, we would require the client’s approval for such a disclosure.
        </li>
    </ul>
    <p>
        In addition to the privacy protection that the new FTC regulations provide you, the Internal Revenue Code prevents the disclosure of client information provided for tax planning or preparation services without the client’s written permission. Further, the ethics rules that govern the operation principles that our firm must follow prohibit disclosing client information.
    </p>
    <h4>III. Security Arrangements</h4>
    <p>
        We maintain physical, electronic and procedural safeguards that comply with federal regulations to guard our clients’ nonpublic personal information and any other information, to ensure our clients that their privacy is a major part of Portfolio Unleashed’s commitment to provide the finest service possible.
    </p>
    <h4>IV.  Opt Out Provision</h4>
    <p>
        The Federal Trade Commission regulations provide that this notice must include a provision for you to request that Portfolio Unleashed not release your nonpublic personal information. While such a request is unnecessary, because Portfolio Unleashed does not disclose your nonpublic personal information in a manner that would allow you to opt out, in the interests of satisfying regulations, we include this Opt Out Provision.
    </p>
    <p>
        Please call us at (608)-474-1665 if you have any questions, because your privacy, our professional standard, and the ability to provide you with quality professional services are very important to us.
    </p>
</div>
