@{
    ViewBag.Title = "UserAgreement";
}

@section PageHeader
{
User Agreement
}

<div class="container generalLayout">
    <h3>Acceptable Use Agreement</h3>
    <p>
        Portfolio Unleashed recognizes the value of computer and other electronic resources to improve student learning and enhance the administration and operation of its schools. To this end, Portfolio Unleashed encourages the responsible use of computers; computer networks, including the Internet; and other electronic resources in support of the mission and goals of Portfolio Unleashed.
    </p>
    <h4>Portfolio Unleashed Rights and Responsibilities</h4>
    <p>
        It is the policy of Portfolio Unleashed to maintain an environment that promotes ethical and responsible conduct in all online network activities by staff and students. It shall be a violation of this policy for any employee, student, or other individual to engage in any activity that does not conform to the established purpose and general rules and policies of the network. Within this general policy, Portfolio Unleashed recognizes its legal and ethical obligation to protect the well-being of students in its charge. To this end, Portfolio Unleashed retains the following rights and recognizes the following obligations:
    </p>
    <ol>
        <li>To log network use and to monitor fileserver space utilization by users, and assume no responsibility or liability for files deleted due to violation of fileserver space allotments.
        </li>
        <li>To remove a user account on the network.
        </li>
        <li>To monitor the use of online activities. This may include real-time monitoring of network activity and/or maintaining a log of Internet activity for later review.
        </li>
        <li>To provide internal and external controls as appropriate and feasible. Such controls shall include the right to determine who will have access to Portfolio Unleashed-owned equipment and, specifically, to exclude those who do not abide by Portfolio Unleashed's acceptable use policy or other policies governing the use of school facilities, equipment, and materials. Portfolio Unleashed reserves the right to restrict online destinations through software or other means.
        </li>
        <li>To provide guidelines and make reasonable efforts to train staff and students in acceptable use and policies governing online communications.
        </li>
    </ol>
    <h4>Acceptable Use</h4>

    <ol>
        <li>Proper codes of conduct in electronic communication must be used. In news groups, giving out personal information is inappropriate. When using e-mail, extreme caution must always be taken in revealing any information of a personal nature.
        </li>
        <li>Network accounts are to be used only by the authorized owner of the account for the authorized purpose.
        </li>
        <li>All communications and information accessible via the network should be assumed to be private property.
        </li>
        <li>Subscriptions to mailing lists and bulletin boards must be reported to the system administrator. Prior approval for such subscriptions is required for students and staff.
        </li>
        <li>Mailing list subscriptions will be monitored and maintained, and files will be deleted from the personal mail directories to avoid excessive use of fileserver hard-disk space.
        </li>
        <li>Exhibit exemplary behavior on the network as a representative of your school and community. Be polite!
        </li>
        <li>From time to time, Portfolio Unleashed will make determinations on whether specific uses of the network are consistent with the acceptable use practice.
        </li>
    </ol>

    <h4>Unacceptable Use</h4>

    <ol>
        <li>Giving out personal information about another person, including home address and phone number, is strictly prohibited.
        </li>
        <li>Any use of the network for commercial or for-profit purposes is prohibited.
        </li>
        <li>Excessive use of the network for personal business shall be cause for disciplinary action.
        </li>
        <li>Any use of the network for product advertisement or political lobbying is prohibited.
        </li>
        <li>Users shall not intentionally seek information on, obtain copies of, or modify files, other data, or passwords belonging to other users, or misrepresent other users on the network.
        </li>
        <li>No use of the network shall serve to disrupt the use of the network by others. Hardware and/or software shall not be destroyed, modified, or abused in any way.
        </li>
        <li>Malicious use of the network to develop programs that harass other users or infiltrate a computer or computing system and/or damage the software components of a computer or computing system is prohibited.
        </li>
        <li>Hate mail, chain letters, harassment, discriminatory remarks, and other antisocial behaviors are prohibited on the network.
        </li>
        <li>The unauthorized installation of any software, including shareware and freeware, for use on Portfolio Unleashed computers is prohibited.
        </li>
        <li>Use of the network to access or process pornographic material, inappropriate text files (as determined by the system administrator or building administrator), or files dangerous to the integrity of the local area network is prohibited.
        </li>
        <li>Portfolio Unleashed network may not be used for downloading entertainment software or other files not related to the mission and objectives of Portfolio Unleashed for transfer to a user's home computer, personal computer, or other media. This prohibition pertains to freeware, shareware, copyrighted commercial and non-commercial software, and all other forms of software and files not directly related to the instructional and administrative purposes of Portfolio Unleashed.
        </li>
        <li>Downloading, copying, otherwise duplicating, and/or distributing copyrighted materials without the specific written permission of the copyright owner is prohibited, except that duplication and/or distribution of materials for educational purposes is permitted when such duplication and/or distribution would fall within the Fair Use Doctrine of the United States Copyright Law (Title 17, USC).
        </li>
        <li>Use of the network for any unlawful purpose is prohibited.
        </li>
        <li>Use of profanity, obscenity, racist terms, or other language that may be offensive to another user is prohibited.
        </li>
        <li>Establishing network or Internet connections to live communications, including voice and/or video (relay chat), is prohibited unless specifically authorized by the system administrator.
        </li>
    </ol>
    <h4>Disclaimer</h4>

    <p>
        Portfolio Unleashed cannot be held accountable for the information that is retrieved via the network.
    </p>
    <p>
        Pursuant to the Electronic Communications Privacy Act of 1986 (18 USC 2510 et seq.), notice is hereby given that there are no facilities provided by this system for sending or receiving private or confidential electronic communications. System administrators have access to all mail and will monitor messages. Messages relating to or in support of illegal activities will be reported to the appropriate authorities.
    </p>
    <p>
        Portfolio Unleashed will not be responsible for any damages you may suffer, including loss of data resulting from delays, non-deliveries, or service interruptions caused by our own negligence or your errors or omissions. Use of any information obtained is at your own risk.
    </p>
    <p>
        Portfolio Unleashed makes no warranties (expressed or implied) with respect to:
    </p>
    <ul>
        <li>the content of any advice or information received by a user, or any costs or charges incurred as a result of seeing or accepting any information; and
        </li>
        <li>costs, liability, or damages caused by the way the user chooses to use his or her access to the network.
        </li>
    </ul>
    <p>
        Portfolio Unleashed reserves the right to change its policies and rules at any time.
    </p>
</div>
