@using PortfolioUnleashed.Models.ViewModels;
@model VMPasswordRecovery
@{
    ViewBag.Title = "PasswordRecovery";
    Layout = "~/Views/_MainLayout2.cshtml";
}

<link href="~/Style/UserViewsStyle.css" type="text/css" rel="stylesheet" />

@section PageHeader
{
    Password Recovery
}

<div class="container">

    <div id="PasswordRecoveryForm">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <fieldset>
                <legend>Lost Password Form</legend>
                <div class="form-group passwordGroup">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "e.g., MyAccountEmail@email.com" })
                </div>
                <div class="submitButton">
                    <input class="btn btn-primary" type="submit" value="Recover Account" />
                </div>
            </fieldset>
        }
    </div>

</div>
