@{
	ViewBag.Title = "About";
}

<link href="~/Style/HomeViewsStyle.css" type="text/css" rel="stylesheet" />

@section PageHeader
{
	About Us
}

<div class="container-fluid text-center aboutUsHeader">
    <div class="container-fluid">
        <img class="img-responsive mainAboutHeaderImage" src="~/Images/LogoPortfolio.png" alt="Portfolio Logo" />
    </div>

    <div id="missionPanel">
        <h2>Our goal here at Portfolio Unleashed is to help you get the job you've always dreamed of.</h2>
    </div>
</div>
<hr/>

@*Website info*@
<div class="textBlurbDiv">
    <div class="container-fluid">
        <div class="panel panel-default sectionAboutHeader">
            <div class="panel-body">
                <h4>Why does this exist?</h4>
            </div>
        </div>
    </div>
    <div class="container">
	    <p>Portfolio Unleashed started as a college project at Neumont University. There, a group of friends set out to make a website that
           they would use themselves to create opportunities after graduation. The passion and hard work of the group never let up as the site
           grew into an amazing community with over 5 users and counting.
	    </p>
        <p>We're dedicated to getting you a job because we've been there, at the cusp of the world stage with words to say but no microphone to say them into.
           We're dedicated because we know that you have skills that will better the world, and you need to be put somwhere where you can use those skills.
           We do this because we know that the more dreams come true, the better it becomes to be human.
        </p>
	    <p>If you're a user, you are a part of quickly growing community that will change the way people find jobs.
	       If you aren't a user, join today! Portfolio Unleashed is the best place to get noticed and create opportunities.</p>
    </div>
</div>

@*developers*@
<div class="textBlurbDiv">
    <div class="container-fluid">
        <div class="panel panel-default sectionAboutHeader">
            <div class="panel-body">
                <h4>About the developers</h4>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-6 developerBlurbDiv">
                <h5 class="developerName">Luis Andrade</h5>
                <div class="row developerDescription">
                    <img class="col-xs-4 col-sm-4 col-md-4 img-responsive aboutHeaderImage" src="~/Images/placeHolder200x200.jpg" alt="Example Placeholder Image" height="200" width="200"/>
                    <div class="col-xs-8 col-sm-8 col-md-8">
                        <p>Luis is the lead artistic designer of our site. He's the reason this site looks and works as beautifly as it does.
                           Unfortunately, he won't stop calling kindergarten, "kinder".
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-6 developerBlurbDiv">
                <h5 class="developerName">Dale Chetney</h5>
                <div class="row developerDescription">
                    <img class="col-xs-4 col-sm-4 col-md-4 img-responsive aboutHeaderImage" src="~/Images/placeHolder200x200.jpg" alt="Example Placeholder Image" height="200" width="200"/>
                    <div class="col-xs-8 col-sm-8 col-md-8">
                        <p>Dale is a very special snowflake. He doesn't do much and no one is quite sure why he's here. It's best to just not acknowledge him.</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-6 developerBlurbDiv">
                <h5 class="developerName">Tyler Dacus</h5>
                <div class="row developerDescription">
                    <img class="col-xs-4 col-sm-4 col-md-4 img-responsive aboutHeaderImage" src="~/Images/placeHolder200x200.jpg" alt="Example Placeholder Image" height="200" width="200"/>
                    <div class="col-xs-8 col-sm-8 col-md-8">
                        <p>Tyler Dacus is not a serial killer.</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-6 developerBlurbDiv">
                <h5 class="developerName">Taylor Garcia</h5>
                <div class="row developerDescription">
                    <img class="col-xs-4 col-sm-4 col-md-4 img-responsive aboutHeaderImage" src="~/Images/placeHolder200x200.jpg" alt="Example Placeholder Image" height="200" width="200"/>
                    <div class="col-xs-8 col-sm-8 col-md-8">
                        <p>Taylor contributed to Portfolio Unleashed by creating it. All of it. Good job Taylor.</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-6 developerBlurbDiv">
                <h5 class="developerName">Jeremy Jones</h5>
                <div class="row developerDescription">
                    <img class="col-xs-4 col-sm-4 col-md-4 img-responsive aboutHeaderImage" src="~/Images/placeHolder200x200.jpg" alt="Example Placeholder Image" height="200" width="200"/>
                    <div class="col-xs-8 col-sm-8 col-md-8">
                        <p>Jeremy built the database where all your information is stored, which means he knows all your secrets. If you would like him
                            to keep quiet, you can threaten him at jeremy29229@yahoo.com. I know, right? Who uses Yahoo?
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-6 developerBlurbDiv">
                <h5 class="developerName">Talan Lousignont</h5>
                <div class="row developerDescription">
                    <img class="col-xs-4 col-sm-4 col-md-4 img-responsive aboutHeaderImage" src="~/Images/placeHolder200x200.jpg" alt="Example Placeholder Image" height="200" width="200"/>
                    <div class="col-xs-8 col-sm-8 col-md-8">
                        <p>Talan created all the ways that connect our site to you. If you want to become an administrator, he's the one to
                            bribe. Now he's watching Ultimate Spider-Man. Apparently it's quite good.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>