@{
	ViewBag.Title = "Contact";
}

<link href="~/Style/HomeViewsStyle.css" type="text/css" rel="stylesheet" />

@section PageHeader
{
	Contact Portfolio Unleashed
}

<div class="container contactInfo">
    <div id="contactsHeadquartersDiv">
        <h3>Headquarters</h3>
        <p>143 South Main Street</p>
        <p>Salt Lake City, UT, 84111</p>
        <p>United States</p>
    </div>
    <div id="contactsContactMethods">
        <h3>Contact the Development Team:</h3>
        <ul>
            <li>Phone: (303)-565-7241</li>
            <li><a id="emailLink" href="mailto:landrade@student.neumont.edu?Subject=PortfolioUnleahsed%20Contact" target="_top">Email the Webmaster</a></li>
        </ul>
    </div>
</div>
