@{
    ViewBag.Title = "FAQ";
}

@section PageHeader
{
	Frequently Asked Questions
}

<link href="~/Style/HomeViewsStyle.css" type="text/css" rel="stylesheet" />

<div id="mainFaqPage" class="container well">
    <dl>
        <dt><b>Q:</b> <dfn>What is Portfolio Unleashed?</dfn></dt>
        <dd><b>A:</b> Portfolio unleashed is a platform for your work. By building a portfolio on our site,
            you allow employers to see what you're capable of and give you thier information.
        </dd>
    </dl>

    <dl>
        <dt><b>Q:</b> <dfn>How do I make a Portfolio? Where do I start?</dfn></dt>
        <dd><b>A:</b> The best place to start is the Tips and Tricks page to learn what your portfolio needs and how to take care of it.
            Then all you need to do is make an account and a portfolio.
        </dd>
    </dl>

    <dl>
        <dt><b>Q:</b> <dfn>How do I design a portfolio?</dfn></dt>
        <dd><b>A:</b> You don't have to. Portfolio Unleashed provides templates for you to place your projects on.
        </dd>
    </dl>

    <dl>
        <dt><b>Q:</b> <dfn>What are Quick Contacts?</dfn></dt>
        <dd><b>A:</b> Quick Contacts are people that you frequently work on projects with. When you post your projects on your portfolio
            you can quickly add all of your quick contacts as collaborators.
        </dd>
    </dl>

    <dl>
        <dt><b>Q:</b> <dfn>I'm a project editor? What does that mean?</dfn></dt>
        <dd><b>A:</b> This means that you are responsible for adding everyone who work on the project as a collaborator. If this seems like
            a lot of work, don't worry, you can also turn any collaborator into a fellow editor.
        </dd>
    </dl>

    <dl>
        <dt><b>Q:</b> <dfn>42?</dfn></dt>
        <dd><b>A:</b> You're doing this wrong.</dd>
    </dl>
</div>
