@{
    ViewBag.Title = "HowTo";
}

@section PageHeader
{
	How-To-Portfolio
}

<h3>How to make a Portfolio</h3>

<p>
    The purpose of a portfolio is to show off your value to a potential employer as quickly and effectively as possible.
    You may be wondering how to do this. Here are some tips.
</p>

<p>
    The purpose of a portfolio is to show off your value to a potential employer as quickly and effectively as possible.
    You may be wondering how to do this. Here are some tips.
</p>

<ol>
    <li>
        Make sure that all the projects on your portfolio are relevent to the job you want.
    </li>

    <li>
        Your best projects should be the very firts thing visible when someone clicks your portfolio.
    </li>

    <li>
        Be wary of putting works-in-progress on your portfolio. Employers want to see that you can complete projects.
    </li>
</ol>

<p>
    Do not put any explicit content on your portfolio. It will be taken down by administrators.
</p>

<hr />
<div class="container-fluid examplePortfoliosDiv">
    
    <div class="sectionHomeHeader">
        <p>Example Portfolios</p>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4 exampleSection">
            <img src="~/Images/exampleOne.jpg" class="img-responsive portfolioExampleImage" alt="Example Image 1" />
            <h3>The Creative Side</h3>
            <p>
                For artists, their gallery of work speaks volumes about who they are and the work they can do. Words 
                    can't describe what needs to be seen, which is why our porfolio allows users to display their work front 
                    and center if they wish to do so.
            </p>
            <p>
                This is necessary for various types of careers, where the work you do is focused more on the visual side. 
                    You can't always express your talents in words because for many employers, having to shift through text 
                    to finally find your work is time-consuming. This can lead to them ignoring your porfolio entirely.
            </p>
            <p>
                Therefore, we have added a feature that allows users to make their work the highlight of their porfolio, 
                    like this user.
            </p>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4 exampleSection">
            <img src="~/Images/exampleTwo.jpg" class="img-responsive portfolioExampleImage" alt="Example Image 2" />
            <h3>An All-Round Person and Enthusiast</h3>
            <p>
                Our unique model of portfolios is perfect for people who have a variety of skills that they want to show to different people.
                If you have artistic skills that you want to show to one employer, and programming skills that you want to show to another, 
                you can have both of these seperate portfolios linked to your account.
            </p>
            <p>
                If you want to show off all of your skills, you can easily link both portfolios to a single portfolio and refer people to that instead.
                The possibilities are endless!
            </p>
        </div>


        <div class="col-xs-12 col-sm-6 col-lg-4 exampleSection">
            <img src="~/Images/exampleThree.png" class="img-responsive portfolioExampleImage" alt="Example Image 3" />
            <h3>Help For the Unskilled</h3>
            <p>
                You may be bad at making portfolios. That's okay; we won't judge. What we will do is supply you with several templates to ensure
                that your portfolio won't turn out as bad as this one.
            </p>
        </div>
    </div>
</div>